################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorServer/obj/Debug/net6.0
/BlazorServer.CommonComponents/obj/Debug/net6.0
/BlazorServer.DataBinding/obj
/BlazorServer.DataValidation/obj
/BlazorServer.ExceptionHandlingAndLogging/obj
/BlazorServer.Interop/obj
/BlazorServer.ParametersAndCallbacks/obj
/BlazorServer/obj
/BlazorServer.DataValidation/bin/Debug/net6.0/Logs
/BlazorServer.DataValidation/bin/Debug/net6.0/Serilog.Sinks.File.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/Serilog.Settings.Configuration.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/Serilog.Extensions.Logging.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/Serilog.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/FluentValidation.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.staticwebassets.runtime.json
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.runtimeconfig.json
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.pdb
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.exe
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/BlazorServer.DataValidation.deps.json
/BlazorServer.DataValidation/bin/Debug/net6.0/Blazored.FluentValidation.dll
/BlazorServer.DataValidation/bin/Debug/net6.0/appsettings.json
/BlazorServer.DataValidation/bin/Debug/net6.0/appsettings.Development.json
/BlazorServer.CommonComponents/obj
/BlazorApp1/bin/Debug/net6.0
/BlazorApp1/obj
/BlazorServer/bin/Debug/net6.0
/BlazorServer.CommonComponents/bin/Debug/net6.0
/BlazorServer.DataBinding/bin/Debug/net6.0
/BlazorServer.ParametersAndCallbacks/bin/Debug/net6.0
/Blazor.ProjectStructure/obj
